.multiple-choice {
  display: flex;
  flex-direction: column;

  justify-self: center;

  &__answers-container {
    margin-left: 15px;

    &__answers {
      display: flex;

      &__checkbox {
        align-self: center;
        margin-right: 10px;
      }

      &__label {
        margin: 0;
      }
    }
  }

  &__button {
    width: min-content;
    margin: 10px 0;
  }
}
